<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>Member since <%= @user.created_at %> </p>

<p>Contact me at <%= mail_to @user.email, @user.email %></p>



<p>Total money pledged: </p>



<h2>Projects I Own</h2>



<h2>Projects I've Backed</h2>
