// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  // text-align: right;
  // margin: 25%;
  background-color: #f9f9f9;
}

.project-image > img {
  // float: left;
  // margin: 0px 0px 15px 15px;
}

.project-link {
  display: block;
  text-decoration: none;
  color: cadetblue;
}

.project-title {
  margin-bottom: 0;
}

.project-days-left {
  font-size: 0.75em;
}
