<h1>Browse Categories</h1>

<% @categories = Category.order("name ASC") %>

<ul>
  <% @categories.each do |category| %>
    <li>
      <p> <%= link_to category.name, category %> </p>
    </li>
  <% end %>
</ul>
